<%= javascript_include_tag 'suggest'%>
<div class="col-xs-12">
  <div class="div-suggest col-xs-offset-4 col-xs-5">
    <%= form_tag 'create_suggestion', method: :post, class: 'form-horizontal main_form' do %>
        <div class='form-group'>
          <label class='form_label col-xs-3'>Name</label>
          <div  class ='col-xs-9'>
            <%= text_field_tag 'tf_book_name', nil, class: 'form-control', id: 'id_tf_book_name' %>
            <label class='error_label label' id='id_label_tf_bookname'></label>
          </div>
        </div>
        <div class = 'form-group'>
          <label class='form_label col-xs-3'>Link</label>
          <div  class ='col-xs-9'>
            <%= text_field_tag 'tf_book_link', nil, class: 'form-control', id: 'id_tf_book_link' %>
            <label class='error_label label' id='id_label_tf_booklink'></label>
          </div>
        </div>
        <div class='form-group div_description'>
          <label class='form_label col-xs-3'>Description</label>
          <div  class ='col-xs-9'>
            <%= text_area_tag 'tf_book_description', nil, size:'20x3', class: 'form-control', id: 'id_tf_book_description' %>
            <label class='error_label label' id='id_label_tf_bookdescription'></label>
          </div>
        </div>
        <div class='form-group'>
          <label class='form_label col-xs-3'>Price</label>
          <div  class ='col-xs-9'>
          <%= text_field_tag 'tf_book_price', nil, class: 'form-control', id: 'id_tf_book_price' %>
          <label class='error_label label' id='id_label_tf_bookprice'></label>
          </div>
        </div>
        <div class='form-group'>
          <label class='form_label col-xs-3'>Quantity</label>
          <div  class ='col-xs-9'>
           <%= text_field_tag 'tf_book_quantity', nil, class: 'form-control', id: 'id_tf_book_quantity' %>
           <label class='error_label label' id='id_label_tf_bookquantity'></label>
          </div>
        </div>


        <div class='form-group'>
          <div class="col-xs-3"></div>
          <div  class ='col-xs-9'>
            <span id="result"> <%= flash[:notice] %> </span><br/>
            <%= submit_tag 'Submit', class: 'btn btn-primary button btn_submit ', :onclick => 'return check_input()' %>
            <button class="btn btn-danger button" type="reset">Reset</button> <br/>
          </div>
        </div>

  <% end %>
  </div>
</div>
