<h1>DETAIL PAGE</h1>
<%  @collection.each do |t| %>
<div class="col-xs-12 col-xs-offset-4">
  <%= form_tag '/manage_book/update', method: :post, class: 'form-horizontal' do %>
      <div class="form-group">
        <label class='col-xs-1'>Name</label>
        <div class='col-xs-4'>
          <%= text_area_tag 'tf_book_name', t.book_name, size: '20x4', class: 'form-control' %>
          <label class='error_label label' id='id_label_tf_bookname'></label>
        </div>
      </div>
      <div class="form-group">
        <label class='col-xs-1'>Quantity</label>
        <div class="col-xs-4">
          <%= text_field_tag 'tf_book_quantity', t.book_quantity, class: 'form-control', type: 'number' %>
          <label class='error_label label' id='id_label_tf_bookquantity'></label>
        </div>
      </div>
      <%= text_field_tag 'tf_book_id', t.id, class: 'form-control hidden' %>
      <div class='form-group'>
        <div class="col-xs-1"></div>
        <div class='col-xs-4'>
          <span id='result'><%= flash[:notice] %> </span>
          <span id='red'><%= flash[:warn] %> </span>
        </div>
      </div>
      <div class='form-group'>
        <div class="col-xs-1"></div>
        <div class='col-xs-4'>
          <%= submit_tag 'Update', class: 'btn btn-success', onclick: 'return check_input_update()' %>
        </div>
      </div>

  <% end %>
</div>
<% end  %>
<%= javascript_include_tag 'management_detail' %>
